.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba($color: $dark-gray, $alpha: 0.5);

    display: grid;
    place-items: center;

    .modal-main {
        // $
        background-color: $white;
    
        height: 30vh;
        width: 50vw;
    
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }
}
